{% extends "core/base.html" %}

{% block title %}Register New Patient{% endblock %}

{% block content %}
<h2>Register New Patient</h2>
<form method="post">
    {% csrf_token %}
     {% for field in form %}
        <div class="form-group">
            {{ field.label_tag }}
            {{ field }}
            {% if field.help_text %}
                <small style="color: grey">{{ field.help_text }}</small>
            {% endif %}
            {% for error in field.errors %}
                <p style="color: red">{{ error }}</p>
            {% endfor %}
        </div>
    {% endfor %}
     {% if form.non_field_errors %}
        <div class="errorlist">
            {% for error in form.non_field_errors %}
                <p style="color: red;">{{ error }}</p>
            {% endfor %}
        </div>
    {% endif %}
    <button type="submit" class="btn">Register Patient</button>
    <a href="{% url 'dashboard' %}" class="btn btn-secondary">Cancel</a>
</form>
{% endblock %}
